name: Publish NuGet Package
on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:10.0

    steps:
      - uses: actions/checkout@v4
          
      - name: publish snippets.tool
        run: |
          dotnet publish -c Release
          dotnet pack -c Release
          dotnet nuget push --skip-duplicate bin/Release/*.nupkg -k $NUGET_API_KEY -s https://api.nuget.org/v3/index.json
        working-directory: ./Snippets
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      
